In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ff_cars.csv')

In [3]:
df

,Unnamed: 0,Car,Manufacturer,Make,Model,Production_Year,Status,Car_Class
0,0,1966 Chevrolet Corvette Grand Sport Sting Ray,Chevrolet (General Motors),Chevrolet,Corvette Grand Sport Sting Ray,1962-1967,Discontinued,"2-door convertible, 2-door coupe"
1,1,1967 Chevrolet C/K,General Motors,Chevrolet,C-10,Discontinued,Active,Pickup truck
2,2,1967 Chevrolet Camaro SS,General Motors,Chevrolet,Chevrolet Camaro SS,1967,Discontinued,"Pony car, Muscle car"
3,3,1967 Chevrolet Camaro Z28,General Motors,Chevrolet,Chevrolet Camaro Z28,1967,Discontinued,Customized
4,4,1967 Ford Mustang Fastback,Ford Motor Corporation,Ford Mustang,"""Fastback""",1967,In Production,Pony car
...,...,...,...,...,...,...,...,...
139,139,Tokyo Drift Cars,NaN,NaN,NaN,NaN,NaN,NaN
140,140,Toyota Corolla,Toyota,Toyota,Corolla,NaN,In Production,Sedan
141,141,Toyota Supra MK IV,Toyota,Toyota,Toyota Supra MK IVTurbo MK IV,Discontinued,Discontinued,Sports car
142,142,Tuners,NaN,NaN,NaN,NaN,NaN,NaN
143,143,Volkswagen Golf R32,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df[df.isna().any(axis=1)]

,Unnamed: 0,Car,Manufacturer,Make,Model,Production_Year,Status,Car_Class
18,18,1973 Chevrolet Camaro RS-Z28 F-Bomb,General Motors,Chevrolet,Camaro RS Z28 F-Bomb,1973,Discontinued,NaN
37,37,2 Fast 2 Furious Cars,NaN,NaN,NaN,NaN,NaN,NaN
54,54,2006 Mitsubishi Lancer Evolution IX,Mitsubishi,Mitsubishi,Lancer Evolution IX,2006,NaN,Compact Car
80,80,Astana Hotto,NaN,NaN,NaN,NaN,NaN,NaN
86,86,Dodge Challenger,NaN,NaN,NaN,NaN,NaN,NaN
89,89,Dodge Ram,NaN,NaN,NaN,NaN,NaN,NaN
90,90,Dodge Stealth,NaN,NaN,NaN,NaN,NaN,NaN
92,92,Eagle Speedster,Eagle (recreation)Jaguar (base),Eagle,Speedster,By order only,By order only,NaN
93,93,Fast & Furious 6 Cars,NaN,NaN,NaN,NaN,NaN,NaN
94,94,Fast & Furious Cars,NaN,NaN,NaN,NaN,NaN,NaN
95,95,Fast Attack Vehicle,NaN,NaN,NaN,NaN,NaN,NaN
96,96,Fast Five Cars,NaN,NaN,NaN,NaN,NaN,NaN
99,99,Ferrari FXX,NaN,NaN,NaN,NaN,NaN,NaN
101,101,Flip Car,NaN,NaN,NaN,NaN,NaN,NaN
106,106,Ford Maverick,Ford,Ford,Maverick,Unknown,Discontinued,NaN
107,107,Ford Mustang,Ford,Ford,Mustang,NaN,In production,Pony car
108,108,Ford RS200,Ford,Ford,RS200,NaN,NaN,NaN
109,109,Furious 7 Cars,NaN,NaN,NaN,NaN,NaN,NaN
110,110,Honda Civic,Honda,Honda,Civic,NaN,In Production,Compact Car
111,111,Honda S2000,Honda,Honda,S2000,NaN,Racing (both),Racing (both)
112,112,Hyperfin,NaN,NaN,N/A,NaN,NaN,NaN
113,113,Images of cars,NaN,NaN,NaN,NaN,NaN,NaN
114,114,Ion Motors Thresher,NaN,NaN,NaN,NaN,NaN,NaN
116,116,List of Cars in The Fast and the Furious (series),NaN,NaN,NaN,NaN,NaN,NaN
119,119,Mazda RX-8,Mazda,Mazda,RX-8,NaN,NaN,NaN
120,120,Mitsubishi Eclipse,Mitsubishi Motors,Mitsubishi,Mitsubishi EclipseEclipse Spyder,NaN,Discontinued,Sport compact
121,121,Mitsubishi Lancer Evolution,Mitsubishi Motors,Mitsubishi,Mitsubishi Lancer Evolution,NaN,Discontinued,Sport compact
122,122,Muscle cars,NaN,NaN,NaN,NaN,NaN,NaN
123,123,Nissan 240SX,NaN,NaN,NaN,NaN,NaN,NaN
124,124,Nissan Fairlady Z (Z33),Nissan,Fairlady Z33 (350Z),Discontinued,NaN,NaN,NaN
127,127,Nissan Silvia S15 Spec-R,Nissan Motor Company,Nissan,Nissan Silvia S15 Spec-R,NaN,Discontinued,2-door coupeSports car
129,129,Pickup trucks,NaN,NaN,NaN,NaN,NaN,NaN
130,130,Plymouth Road Runner,Plymouth,Road Runner,NaN,1968-1980,Discontinued,Muscle car
131,131,Pontiac Bonneville,NaN,NaN,NaN,NaN,NaN,NaN
132,132,Pontiac Fiero,Pontiac,Pontiac,Fiero,1984,NaN,Notchback Coupe
134,134,Porsche 996 GT3 RS,Porsche,996 GT3 RS,3.6L flat-6,NaN,NaN,NaN
135,135,Porsche Cayman,Porsche,Porsche,Cayman S,NaN,NaN,NaN
136,136,Subaru Impreza WRX STi,Subaru,Subaru,Impreza WRX STi,NaN,NaN,NaN
137,137,The Fast and The Furious Cars,NaN,NaN,NaN,NaN,NaN,NaN
138,138,The Fate of the Furious Cars,NaN,NaN,NaN,NaN,NaN,NaN
139,139,Tokyo Drift Cars,NaN,NaN,NaN,NaN,NaN,NaN
140,140,Toyota Corolla,Toyota,Toyota,Corolla,NaN,In Production,Sedan
142,142,Tuners,NaN,NaN,NaN,NaN,NaN,NaN
143,143,Volkswagen Golf R32,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_nonull = df.dropna(thresh=5)

In [8]:
df_nonull

,Unnamed: 0,Car,Manufacturer,Make,Model,Production_Year,Status,Car_Class
0,0,1966 Chevrolet Corvette Grand Sport Sting Ray,Chevrolet (General Motors),Chevrolet,Corvette Grand Sport Sting Ray,1962-1967,Discontinued,"2-door convertible, 2-door coupe"
1,1,1967 Chevrolet C/K,General Motors,Chevrolet,C-10,Discontinued,Active,Pickup truck
2,2,1967 Chevrolet Camaro SS,General Motors,Chevrolet,Chevrolet Camaro SS,1967,Discontinued,"Pony car, Muscle car"
3,3,1967 Chevrolet Camaro Z28,General Motors,Chevrolet,Chevrolet Camaro Z28,1967,Discontinued,Customized
4,4,1967 Ford Mustang Fastback,Ford Motor Corporation,Ford Mustang,"""Fastback""",1967,In Production,Pony car
...,...,...,...,...,...,...,...,...
134,134,Porsche 996 GT3 RS,Porsche,996 GT3 RS,3.6L flat-6,NaN,NaN,NaN
135,135,Porsche Cayman,Porsche,Porsche,Cayman S,NaN,NaN,NaN
136,136,Subaru Impreza WRX STi,Subaru,Subaru,Impreza WRX STi,NaN,NaN,NaN
140,140,Toyota Corolla,Toyota,Toyota,Corolla,NaN,In Production,Sedan
141,141,Toyota Supra MK IV,Toyota,Toyota,Toyota Supra MK IVTurbo MK IV,Discontinued,Discontinued,Sports car

In [9]:
df_nonull[df_nonull.isna().any(axis=1)]

,Unnamed: 0,Car,Manufacturer,Make,Model,Production_Year,Status,Car_Class
18,18,1973 Chevrolet Camaro RS-Z28 F-Bomb,General Motors,Chevrolet,Camaro RS Z28 F-Bomb,1973,Discontinued,NaN
54,54,2006 Mitsubishi Lancer Evolution IX,Mitsubishi,Mitsubishi,Lancer Evolution IX,2006,NaN,Compact Car
92,92,Eagle Speedster,Eagle (recreation)Jaguar (base),Eagle,Speedster,By order only,By order only,NaN
106,106,Ford Maverick,Ford,Ford,Maverick,Unknown,Discontinued,NaN
107,107,Ford Mustang,Ford,Ford,Mustang,NaN,In production,Pony car
108,108,Ford RS200,Ford,Ford,RS200,NaN,NaN,NaN
110,110,Honda Civic,Honda,Honda,Civic,NaN,In Production,Compact Car
111,111,Honda S2000,Honda,Honda,S2000,NaN,Racing (both),Racing (both)
119,119,Mazda RX-8,Mazda,Mazda,RX-8,NaN,NaN,NaN
120,120,Mitsubishi Eclipse,Mitsubishi Motors,Mitsubishi,Mitsubishi EclipseEclipse Spyder,NaN,Discontinued,Sport compact
121,121,Mitsubishi Lancer Evolution,Mitsubishi Motors,Mitsubishi,Mitsubishi Lancer Evolution,NaN,Discontinued,Sport compact
124,124,Nissan Fairlady Z (Z33),Nissan,Fairlady Z33 (350Z),Discontinued,NaN,NaN,NaN
127,127,Nissan Silvia S15 Spec-R,Nissan Motor Company,Nissan,Nissan Silvia S15 Spec-R,NaN,Discontinued,2-door coupeSports car
130,130,Plymouth Road Runner,Plymouth,Road Runner,NaN,1968-1980,Discontinued,Muscle car
132,132,Pontiac Fiero,Pontiac,Pontiac,Fiero,1984,NaN,Notchback Coupe
134,134,Porsche 996 GT3 RS,Porsche,996 GT3 RS,3.6L flat-6,NaN,NaN,NaN
135,135,Porsche Cayman,Porsche,Porsche,Cayman S,NaN,NaN,NaN
136,136,Subaru Impreza WRX STi,Subaru,Subaru,Impreza WRX STi,NaN,NaN,NaN
140,140,Toyota Corolla,Toyota,Toyota,Corolla,NaN,In Production,Sedan

In [10]:
pd.read_csv('ff_cars_sales_data.csv')

,Car,Sale Date,Sale Amount,Currency unit,Sold Location,Source
0,1999 Nissan Skyline (R34) GT-R V-Spec,5/10/2022,140000,GBP,Great Britain,collectingcars.com
1,1999 Nissan Skyline (R34) GT-R V-Spec,1/26/2022,221500,AUD,Australia,collectingcars.com
2,1999 Nissan Skyline (R34) GT-R V-Spec,10/21/2021,100000,GBP,Great Britain,collectingcars.com
3,1999 Nissan Skyline (R34) GT-R V-Spec,7/13/2021,310000,USD,USA,bringatrailer.com
4,1999 Nissan Skyline (R34) GT-R V-Spec,6/22/2021,315187,USD,USA,bringatrailer.com
5,1999 Nissan Skyline (R34) GT-R V-Spec,11/11/2017,29000,GBP,Great Britain,silverstoneauctions.com
6,1999 Nissan Skyline (R34) GT-R V-Spec,9/6/2017,25300,GBP,Great Britain,rmsothebys.com
7,1996 Nissan Skyline (R33) GT-R,6/29/2022,63500,AUD,Australia,collectingcars.com
8,1995 Nissan Skyline (R33) GT-R,5/13/2022,58000,USD,USA,bringatrailer.com
9,1996 Nissan Skyline (R33) GT-R,5/1/2022,57500,USD,USA,bringatrailer.com
10,1995 Nissan Skyline (R33) GT-R V-Spec,4/21/2022,49995,USD,USA,carsandbids.com
11,1995 Nissan Skyline (R33) GT-R V-Spec,3/29/2022,83500,USD,USA,bringatrailer.com
12,1971 Nissan Skyline GTX KGC10,1/16/2022,129000,USD,USA,bringatrailer.com
13,1971 Nissan Skyline C10,8/23/2021,95959,USD,USA,bringatrailer.com
14,1971 Nissan Skyline,2/4/2019,63500,USD,USA,bringatrailer.com
15,1971 Nissan Skyline,8/23/2018,75900,USD,USA,mecum.com
16,1971 Nissan Skyline 2000GT-R,1/23/2017,126000,USD,USA,bringatrailer.com
17,1970 Dodge Charger R/T,7/15/2022,67500,USD,USA,bringatrailer.com
18,1970 Dodge Charger R/T,6/30/3033,85800,USD,USA,barrettjackson.com
19,1970 Dodge Charger R/T,5/2/2022,104000,USD,USA,gatewayclassiccars.com
20,1970 Dodge Charger R/T,4/9/2022,119900,USD,USA,barrettjackson.com
21,1970 Dodge Charger R/T,1/29/2022,132000,USD,USA,barrettjackson.com
22,1994 Toyota Supra,7/2/2022,122000,USD,USA,bringatrailer.com
23,1994 Toyota Supra MK4,5/29/2022,40050,GBP,Great Britain,collectingcars.com
24,1994 Toyota Supra,5/19/2022,140000,USD,USA,mecum.com
25,1994 Toyota Supra,5/8/2022,98500,USD,USA,bringatrailer.com
26,1994 Toyota Supra,5/1/2022,72000,CAD,Canada,bringatrailer.com